.slider-left {
  position: relative;
  overflow: hidden;
  margin-top: 40px;
}

.vertical-slider {
  height: 485px;
}

.vertical-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: $dark;
  margin-top: 10px;
}

@media (max-width: 576px) {
  .slider-left {
    padding: 0 16px;
  }
}
