<div class="slider-left">
  <div class="vertical-slider swiper">
    <div class="swiper-wrapper">
      <div class="vertical-slide swiper-slide">
        <a href="/franchises/franshiza-585-zolotoy/#anchor" class="vertical-link">
          <div class="vertical-img">
            <img src="assets/images/slider-fran.png" alt="Самая узнаваемая ювелирная сеть в России и СНГ">
          </div>
          <div class="vertical-text">
            Самая узнаваемая ювелирная сеть в России и СНГ
          </div>
        </a>
      </div>
      <div class="vertical-slide swiper-slide">
        <a href="/franchises/franshiza-pyaterochka/#anchor" class="vertical-link">
          <div class="vertical-img">
            <img src="assets/images/slider-fran.png" alt="Обратный франчайзинг. Доход от 500 000">
          </div>
          <div class="vertical-text">
            Обратный франчайзинг. Доход от 500 000
          </div>
        </a>
      </div>
      <div class="vertical-slide swiper-slide">
        <a href="/franchises/franshiza-Gruppa-kompani-alfa/#anchor" class="vertical-link">
          <div class="vertical-img">
            <img src="assets/images/slider-fran.png" alt="Франшиза Группы компаний Альфа">
          </div>
          <div class="vertical-text">
            Франшиза Группы компаний Альфа
          </div>
        </a>
      </div>
      <div class="vertical-slide swiper-slide">
        <a href="/franchises/franshiza-sushi-love/#anchor" class="vertical-link">
          <div class="vertical-img">
            <img src="assets/images/slider-fran.png" alt="Франшиза с доставкой, доход 4 млн. руб. в год">
          </div>
          <div class="vertical-text">
            Франшиза с доставкой, доход 4 млн. руб. в год
          </div>
        </a>
      </div>
      <div class="vertical-slide swiper-slide">
        <a href="/franchises/franshiza-up-sushi/#anchor" class="vertical-link">
          <div class="vertical-img">
            <img src="assets/images/slider-fran.png" alt="Личный доход от 500.000 руб. ежемесячно">
          </div>
          <div class="vertical-text">
            Личный доход от 500.000 руб. ежемесячно
          </div>
        </a>
      </div>
      <div class="vertical-slide swiper-slide">
        <a href="/franchises/franshiza-ra-kurs/#anchor" class="vertical-link">
          <div class="vertical-img">
            <img src="assets/images/slider-fran.png" alt="Ежемесячный доход от 300 тыс. до 1,5 млн. рублей">
          </div>
          <div class="vertical-text">
            Ежемесячный доход от 300 тыс. до 1,5 млн. рублей
          </div>
        </a>
      </div>
      <div class="vertical-slide swiper-slide">
        <a href="/franchises/franshiza-nebar/#anchor" class="vertical-link">
          <div class="vertical-img">
            <img src="assets/images/slider-fran.png" alt="Франшиза 4 в 1. Доход от 1 240 000 руб. в месяц">
          </div>
          <div class="vertical-text">
            Франшиза 4 в 1. Доход от 1 240 000 руб. в месяц
          </div>
        </a>
      </div>

    </div>
  </div>
</div>

