.franshiza-item {
  border-radius: 6px;

  .franshiza-item__wrapper img {
    width: 100%;
    border-radius: 6px;

    @media (max-width: $sm) {
      border-radius: 0;
    }
  }


  .franshiza-content {
    padding: 0 12px;
  }

  .franshiza-title,
  .franshiza-subtitle__price {
    @extend %regular-text;
    font-weight: 700;
    margin-top: 10px;
  }

  .franshiza-subtitle {
    @extend %regular-text;
    color: $gray;
    margin-top: 6px;
  }

  .franshiza-subtitle__price {
    margin-top: 24px;
  }

  .franshiza-btn {
    @extend %flex-center;
    @extend %regular-text;
    justify-content: center;
    background: #e9eff2;
    margin-top: 10px;
    margin-bottom: 14px;

    &.active {
      color: #fff;
      background: $blue;

      .fran-check {
        color: #fff;
      }
    }

    .fran-check {
      @extend %flex-center;
      cursor: pointer;
      color: $darkblue;
    }
  }

}

.fran-blue {
  background: rgba(1, 160, 225, 0.1);

  .franshiza-btn {
    @extend %flex-center;
    @extend %regular-text;
    justify-content: center;
    background: #fff;
    margin-top: 10px;
    margin-bottom: 14px;

    &.active {
      color: #fff;
      background: $blue;

      .fran-check {
        color: #fff;
      }
    }

    .fran-check {
      @extend %flex-center;
      cursor: pointer;
      color: $darkblue;
    }
  }


}



