#franshizes {
  padding-top: 38px;
}

.franshizes {
  padding-top: 20px;
}

.show-more__wrapper {
  @extend %flex-center;
  justify-content: center;
  margin-top: 30px;
}

.show-more {
  @extend %flex-center;
  justify-content: center;
  padding: 10px;
  width: 185px;
  background: $blue;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #fff;

  svg {
    margin-left: 6px;
  }
}

.filter-block__item-sort {
  @extend %flex-center;
  position: relative;

  &::before {
    background-image: url('../images/sort.png');
    background-position: 0px -32px;
    background-repeat: no-repeat;
    width: 19px;
    height: 16px;
    display: flex;
    top: 2px;
    left: 0;
    margin: 0 5px 0 0;
    content: '';
  }

  .filter-block__sortlist {
    padding: 12px 0;

    span {
      color: $darkblue;
      font-size: 16px;
    }
  }

  .filter-block__sort-wrapper {
    width: fit-content;
    top: 37px;
  }
}

@media (max-width: 576px) {
  #franshizes {
    padding-top: 30px;

    .subtitle {
      padding: 0 16px;
    }
  }

  .show-more__wrapper {
    padding: 0 16px;
  }

  .show-more {
    width: 100%;
  }
}
