.banner-block {
  width: 100%;
  margin-top: 56px;

  img {
    width: 100%;
  }

  .banner-mob {
    display: none;
  }
}

@media (max-width: $sm) {
  .banner-mob {
    display: block !important;
  }
  .banner-desk {
    display: none;
  }
}
