.text-cart__item {
  background: $lightgray;
  border-radius: 8px;
  padding: 30px;
  padding-bottom: 40px;
}

.text-cart__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: $dark;
  margin-bottom: 12px;
}

.text-cart__text {
  @extend %regular-text;
  margin-bottom: 12px;
}

.text-cart__date {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.01em;
  color: $gray;
}

@media (max-width: $sm) {
  .text-cart__item {
    padding: 12px;
  }

  .text-cart__text {
    font-size: 12px;
  }
}
