#footer {
  margin-top: 105px;
}

.footer-logo {
  margin-bottom: 15px;
}

.footer-mail {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: $dark;
  margin-top: 15px;
}

.footer-adress {
  @extend %flex-center;
  @extend %regular-text;

  svg {
    margin-right: 6px;
  }
}

.footer-adress__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.01em;
  color: $gray;
  width: 200px;
  margin-top: 17px;
}

.footer-social__links {
  @extend %flex-center;
  margin-left: auto;
  margin-bottom: 15px;
}

.footer-social__links-item {
  background: #f6f7f9;
  border-radius: 6px;
  width: 140px;
  height: 42px;
  @extend %flex-center;
  justify-content: center;
  transition: 0.3s;

  @media (max-width: 475px) {
    width: 100%;
  }

  &:last-child {
    margin-left: 8px;
  }

  a {
    width: 100%;
    text-align: center;
  }

  &:hover,
  &:first-child {
    background: $blue;
    transition: 0.3s;

    svg g path {
      fill: #fff;
      transition: 0.3s;
    }
  }
}

.footer-middle {
  display: flex;
  padding-top: 40px;
  padding-bottom: 34px;
  border-bottom: 1px solid $lightgray;
}

.footer-middle__lists {
  display: flex;
  flex-direction: column;
  margin-left: auto;

  a {
    @extend %regular-text;
    margin-bottom: 20px;
  }
}

.footer-middle__form_wrapper {
  width: 100%;
  max-width: 285px;
  margin-left: auto;
}

.footer-middle__form_title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: $dark;
  margin-bottom: 22px;
}

.footer-middle__form {
  display: flex;
  flex-direction: column;

  .footer-middle__input {
    background: #f6f7f9;
    border-radius: 6px;
    padding: 12px;
    margin-bottom: 9px;
    border: none;

    &::placeholder {
      @extend %regular-text;
      color: #84a8bd;
    }
  }
}

.footer-middle__after-form {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.01em;
  margin-top: 14px;
  color: #b4b4b4;

  a {
    text-decoration: underline;
  }
}

.footer-bottom {
  padding-top: 34px;
  padding-bottom: 30px;

  .footer-bottom__text {
    font-weight: 400;
    font-size: 10px;
    line-height: 130%;
    letter-spacing: 0.01em;
    color: $gray;
    width: 100%;
    max-width: 790px;
  }
}

@media (max-width: 790px) {
  .footer-middle {
    flex-wrap: wrap;

    .footer-middle__form_wrapper {
      margin-left: 0;
      margin-top: 24px;
    }
  }
}

@media (max-width: 576px) {
  #footer {
    margin-top: 40px;
  }

  .footer {
    display: flex;
    flex-direction: column;
  }

  .footer-middle {
    padding-top: 0;
    justify-content: space-between;
    order: 1;
    padding-bottom: 5px;

    .footer-middle__lists {
      margin-left: 0;
    }

    .footer-middle__form_wrapper {
      max-width: 100%;
      order: -1;
    }

    .footer-middle__form_title {
      text-align: center;
      font-size: 22px;
    }

    .footer-social__links {
      justify-content: space-around;
      margin-bottom: 20px;
      display: flex;
    }

    .footer-middle__form_wrapper {
      margin-top: 0;
    }

    .footer-middle__after-form {
      margin-bottom: 15px;
    }

    .footer-middle__logo-wrapper {
      order: 1;
      margin-top: 15px;
      display: flex;
      flex-direction: column;

      .footer-mail {
        order: 1;
        margin-bottom: 10px;
      }

      .footer-adress__wrapper {
        order: 2;
      }
    }
  }

  .footer-bottom {
    order: 3;
  }
}

.input-wrap__status--error {
  margin-bottom: 15px;
  color: red;
  display: none;
}

.footer-middle__form.error .input-wrap__status--error {
    display: block;
}
