#news {
  margin-top: 56px;
}

.news-title__wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.news-title__link {
  @extend %flex-center;
  @extend %regular-text;
  color: $darkblue;

  svg {
    margin-left: 6px;
  }
}

.text-cart__wrapper {
  margin-top: 30px;

  @media (max-width: $sm) {
    margin-top: 16px;
  }
}

@media (max-width: $sm) {
  #news {
    margin-top: 40px;
    position: relative;
    padding-bottom: 60px;
    padding-right: 16px;
    padding-left: 16px;
  }

  .news-title__link {
    position: absolute;
    bottom: 0;
    text-align: center;
  }
}
