#reviews {
  margin-top: 56px;
}

.reviews-title__wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.reviews-title__link {
  @extend %flex-center;
  @extend %regular-text;
  color: $darkblue;

  svg {
    margin-left: 6px;
  }
}

.text-cart__wrapper {
  margin-top: 30px;
}

@media (max-width: $sm) {
  #reviews {
    margin-top: 40px;
    position: relative;
    padding-bottom: 50px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .reviews-title__link {
    position: absolute;
    bottom: 0;
    text-align: center;
    left: 50%;
    transform:translate(-50%, -50%);
  }
}
